.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    border: 1px solid grey;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoohing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card:hover{
    transform: scale(1.05);
}