.homepage {
    background-image: url("./landing.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .transparent-box {
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }


  .button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .button:hover {
    background-color: #0056b3; 
  }

  .h1 {
    font-size: 2.5rem;
    color: #333; 
  }
  
  .h2 {
    font-size: 1.8rem;
    color: #555; 
  }