.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: yellow;
    border-radius: 2em;
    width: 95vw;
    height: 3.5em;
    margin: 1em 0;
    box-sizing: border-box;
    margin-right: 10px; /* Espacio horizontal entre los componentes */
    margin-bottom: 20px; /* Espacio vertical entre los componentes */
}

 .button {
    background-color: rgb(7, 7, 49);
    color: rgb(198, 250, 10);
    border: none;
    cursor: pointer;
    margin: 5px 0px;
    padding: 7px 6px;
  }

  .container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    align-items: center;
    background-color: rgb(7, 7, 49);
    height: 50px;
  }